<main [ngClass]="gameHandlerService.activateBoss === true ? 'bossInterface' : 'regularInterface'">
  <h1>Monster Slayer</h1>
  <section class="healthZone">
    <app-player-health-bar></app-player-health-bar>
    <app-monster-health-bar></app-monster-health-bar>
  </section>
  <section class="starterZone" [hidden]="!gameHandlerService.gameOff">
    <app-easy-mon-button></app-easy-mon-button>
    <app-mid-mon-button></app-mid-mon-button>
    <app-hard-mon-button></app-hard-mon-button>
  </section>
  <section class="gamePad">
    <app-player-attack-button></app-player-attack-button>
    <app-player-special-attack-button></app-player-special-attack-button>
    <app-player-heal-button></app-player-heal-button>
    <app-player-special-heal-button></app-player-special-heal-button>
    <app-player-flee-button></app-player-flee-button>
    <app-banter-button></app-banter-button>
  </section>
  <p [hidden]="gameHandlerService.gameOff"> Power Charges: {{player.Charges}} </p>
  <app-log-display></app-log-display>
</main>