.specialAttackButton {
    background-color: rgb(177, 165, 151);
    color: grey;
    transition: all 100ms ease-in;
    pointer-events: none;
}

.specialAttackButtonActive {
    background-color: rgb(248, 190, 124);
    color: rgb(255, 241, 226);
    transition: all 100ms ease-in;
    pointer-events: auto;
}

.specialAttackButtonActive:hover {
    background-color: rgb(216, 147, 68);
    color:rgb(167, 74, 8);
}
