button {
    background-color: rgb(152, 132, 241);
    color: rgb(230, 224, 255);
    transition: all 100ms ease-in;
}

button:hover {
    background-color: rgb(102, 80, 204);
    color:rgb(76, 17, 116);
}